.wrapCard{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    gap: 8vw;
    flex-wrap: wrap;
}

.Card{
    border-radius: 20px !important;
    border: 4px solid white !important;
    transition: transform 0.3s ease-in-out;
    border: 1;
    width: 22rem;
    height: 23rem;
    padding-top: 1vh;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Card:hover{
    transform: scale(1.1);
}

.cardTitle{
    display: flex;
    text-align: center;
}

.cardText{
    justify-content: left;
    display: flex;
    align-items: center;
    gap: 2vh;
    text-align: center;
    padding-top: 6vh;
}

.cardBody{
    gap: 2vh;
    text-align: center;
}

.img{
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    border-radius: 20px;
    height: 10rem;
}
